body {
    margin: 0;
    background-color: #222222;
    color: #EEEEEE;
}

.nav-link {
  color: orange;
  text-decoration: none;
}

main {
    max-width: 600px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    margin: 24px auto;
}

section {
    margin: 24px 0;
    /* padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px; */
    padding: 16px;
}

#title {
    font-size: 40px;
    font-weight: 800;
}

.d-inline {
    display: inline;
}

nav > ul {
    list-style: none;
}

#avatar {
    //display: block;
    width: 100px;
    margin: 32px auto;
}